.footer-bottom {
  margin-top: auto;
}

/* table */
table th,
table td {
  padding: 5px;
  font-size: 13px;
}

table th {
  text-align: center !important;
}

.action-group {
  text-align: center !important;
}

.align-left {
  align-self: left;
}

#error-message {
  color: #b22b26;
}

input:focus-visible {
  border-color: #80ba69 !important;
  box-shadow: 0px 0px 0px 1px #80ba69 !important;
}
